API logic for route-target extended community assumes 4B ASN encoding if the capability is negotiated

The API assumes that if peer negotiates the 4B capability, then it encodes all route-target extended communities as 4B ASN, even if ASN is < 65535.
eg:
https://github.com/smartbgp/yabgp/blob/7aa769af6d45ff85991b8deae76d224ce5e18901/yabgp/api/v1.py#L138

I think the wording in section 3 of [RFC5668](https://tools.ietf.org/html/rfc5668) states that 2B ASN converted to 4B ASN community format is undesirable, and for backward compatibility; "

> Autonomous Systems that use 2-octet Autonomous System numbers SHOULD use 2-octet AS specific extended communities rather than 4-octet AS specific extended communities.


If you're in agreement with the above, I have a patch I'll happily submit

@sanjmonkey very thanks. I will review the PR asap.

merged, thanks